@import "tailwindcss";

@theme {
  --color-brand-dark: #123524;
  --color-brand-light: #4c7c5f;
  --color-brand-cream: #fbf9f6;
  --color-brand-orange: #ea580c;
  --color-brand-orange-hover: #c2410c;

  --font-sans: 'Inter', sans-serif;
  --font-heading: 'Outfit', sans-serif;
}

body {
  background-color: var(--color-brand-cream);
  color: var(--color-brand-dark);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

/* Smooth scrolling for anchor links */
html {
  scroll-behavior: smooth;
}
